.chennai {
    background-color: yellowgreen;
    text-align: center;
}

.anna {
    background-color: wheat;
    text-align: center;
}

.educate {
    background-color: thistle;
    text-align: center;
}

table{
    background-color: wheat;
}